<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="icon" href="/favicon.ico" type="image/x-icon">
		<link rel="stylesheet" href="/css/w3/w3.css">
		<link rel="stylesheet" href="/css/site/style.css">
		<link rel="stylesheet" href="/css/googlefonts/lato.css">
		<link rel="stylesheet" href="/css/fontawesome/font-awesome.min.css">
		<!-- Vue -->
		<script src="/js/vue/vue.min.js"></script>
		<!-- Text recognition -->
		<script src="/js/tesseract/tesseract.min.js"></script>
		<script src="/js/fuse/fuse.js"></script>
		<meta name="title" content="Checkjebon.nl - Goedkopere boodschappen">
		<meta name="description" content="Scan je supermarktbon om er achter te komen waar je goedkoper kunt winkelen.">
		<meta property="og:type" content="website">
		<meta property="og:url" content="https://www.checkjebon.nl/">
		<meta property="og:title" content="Checkjebon.nl - Goedkopere boodschappen">
		<meta property="og:description" content="Scan je supermarktbon om er achter te komen waar je goedkoper kunt winkelen.">
		<meta property="twitter:card" content="summary_large_image">
		<meta property="twitter:url" content="https://www.checkjebon.nl/">
		<meta property="twitter:title" content="Checkjebon.nl - Goedkopere boodschappen">
		<meta property="twitter:description" content="Scan je supermarktbon om er achter te komen waar je goedkoper kunt winkelen.">
		<title>Checkjebon.nl - Goedkopere boodschappen</title>
	</head>
	<body class="w3-gray">
		<div class="w3-content" style="max-width: 2000px; padding-top: 0px;" id="checkjebon">
		
			<div class="w3-blue-grey">
				<div class="w3-container w3-content w3-padding-64" style="max-width:800px">
					<h2 class="w3-wide w3-center caps">Checkjebon.nl</h2>
					<p class="w3-opacity w3-center">Bekijk wat je kwijt zou zijn voor dezelfde boodschappen bij een andere supermarkt en bespaar elke keer dat je naar de winkel gaat.</p>
					<div class="w3-center">
						<button class="w3-btn w3-ripple w3-amber" @click="scan" :disabled="isSearching" title="Scan je kassabon"><i class="fa fa-camera"></i> Scan je kassabon</button>
						<button class="w3-btn w3-ripple w3-light-gray" @click="example" :disabled="isSearching" title="Voorbeeld">Voorbeeld</button>
						<input type="file" id="file-selector" style="display: none;">
					</div>
					<p class="w3-center">
						- of -
					</p>
					<div class="w3-center">
						<label>
							<p>Schrijf hier je boodschappenlijstje:</p>
							<textarea class="w3-input" style="height: 300px;" v-model="shoppinglist" @input="update" :disabled="isSearching" placeholder="Tik hier je boodschappen in of gebruik de scan knop om je laatste kassabon te scannen.&#10;&#10;halfvolle melk&#10;volkoren brood&#10;zilvervliesrijst&#10;bananen&#10;stokbrood&#10;falafel" title="Vul hier je boodschappenlijst in"></textarea>
						</label>
					</div>
					<p class="w3-center">
						Op zoek naar een specifiek merk? Tik de merknaam er dan bij.
					</p>
					<p class="w3-center">
						<button class="w3-btn w3-ripple w3-amber" @click="search" :disabled="isSearching" title="Vergelijk prijzen"><i class="fa fa-search"></i> {{ isSearching ? "Bezig met zoeken..." : "Vergelijk prijzen" }}</button>
						<button class="w3-btn w3-ripple w3-light-gray" @click="share" :disabled="isSearching" title="Delen"><i class="fa fa-share-alt"></i> Delen</button>
						<button class="w3-btn w3-ripple w3-light-gray" @click="clear" :disabled="isSearching" title="Wissen"><i class="fa fa-trash"></i></button>
					</p>
				</div>
			</div>

			<div class="w3-light-gray" id="supermarkets" v-show="supermarkets.length > 0">
				<div class="w3-container w3-content w3-padding-64" style="max-width: 800px">
				
					<h2 class="w3-wide w3-center caps">Totaalprijs</h2>
					
					<ul class="w3-ul w3-card-4 w3-light-gray w3-hoverable">
						<li class="w3-bar" :class="{'w3-amber': supermarket.n == selectedSupermarket?.n}" v-for="supermarket in supermarkets" :key="supermarket.n" @click="selectedSupermarket=supermarket; select()">

							<table style="width: 100%;">
								<tr :class="{'w3-hover-amber': supermarket.n == selectedSupermarket?.n}">
									<td style="width: 80px">
										<img v-bind:src="supermarket.i" class="w3-circle" style="width: 60px" :title="'Logo ' + supermarket.c">
									</td>
									<td>
										<a href="#" class="w3-large noline" onclick="return false;" :title="supermarket.c + ': ' + $options.filters.formatPrice(supermarket.totalPrice) + ' euro'">
											{{supermarket.c}}
										</a>
										<br>
										<span class="w3-text-blue-gray">
											<span v-if="supermarket.notFound > 0">
												<i class="fa fa-info-circle"></i> {{supermarket.notFound}} product{{supermarket.notFound==1?"":"en"}} niet gevonden in
											</span>
											{{supermarket.d.length | formatCount}} producten
										</span>
									</td>
									<td class="w3-xlarge w3-right-align" style="width: 80px;">
										{{ supermarket.totalPrice | formatPrice }}
									</td>
								</tr>
							</table>

						</li>
					</ul>
					<p class="w3-center">
						Waarom sommige <a href="#" onclick="alert('Een aantal grote supermarktketens zoals LIDL, Nettorama, Boni maar ook online bezorgservices zoals GORILLAS en Crisp hebben geen prijzen op hun website staan. Hierdoor kunnen ze ook niet meegenomen worden in de prijsvergelijking van Checkjebon.nl.'); return false;" target="_blank">supermarkten ontbreken</a>, zoals LIDL, Nettorama, Boni, etc.
					</p>
				</div>
			</div>
			
			<div class="w3-blue-grey" id="shoppinglist" v-show="selectedSupermarket">
				<div class="w3-container w3-content w3-padding-64" style="max-width: 800px">
					
					<h2 class="w3-wide w3-center caps">{{ selectedSupermarket?.c }}</h2>
					
					<ul class="w3-ul w3-card-4 w3-light-gray w3-hoverable">
						<li class="w3-bar" v-for="product in products">

							<table style="width: 100%;" :class="{'w3-text-blue-gray': !product.link || product.checked, 'strike': product.checked}">
								<tr>
									<td style="width: 40px">
										<input type="checkbox" class="w3-check" :checked="product.checked" @click="check(product, $event)">
									</td>
									<td>
										<span class="w3-large">
											<a v-bind:href="product.link" target="_blank" class="noline" :title="product.name + ': ' + $options.filters.formatPrice(product.price)">
												{{ product.name }}
											</a>
										</span><br>
										<span class="w3-text-blue-gray">
											<span v-if="product.size">
												<i class="fa fa-pencil" style="cursor: pointer;" @click="edit(product, $event, 'Bedoelde je soms iets anders? Pas dan de naam van dit product aan.\n\nTip: Hoe specifieker je bent, hoe beter het resultaat. Gebruik bijvoorbeeld &quot;smeerboter&quot; in plaats van &quot;boter&quot; of &quot;1,5 liter halfvolle melk&quot; in plaats van alleen &quot;melk&quot;.')" title="Product aanpassen"></i>
												{{ product.size | formatAmount }}
											</span>
											<span v-if="product.priceNotFound && !product.priceIsEstimate">
												<i class="fa fa-exclamation-triangle" style="cursor: pointer;" @click="edit(product, $event, 'Dit product kon bij geen enkele supermarket gevonden worden.\n\nPas de naam of hoeveelheid aan op je boodschappenlijst en probeer het opnieuw.')" title="Product aanpassen"></i>
												Niet gevonden
											</span>
											<span v-if="product.priceNotFound && product.priceIsEstimate">
												Niet gevonden, geschatte prijs
												<i class="fa fa-question-circle" style="cursor: pointer;" @click="edit(product, $event, 'Het lijkt er op dat deze supermarkt dit product niet onder deze naam op hun website heeft staan. Om toch goed je boodschappenlijstje te kunnen vergelijken, is uitgegaan van de gemiddelde prijs van dit product bij andere winkels.\n\nOm het product toch te kunnen vinden, pas de naam of hoeveelheid aan om iets minder specifiek te zoeken.')" title="Product aanpassen"></i>
											</span>
										</span>
									</td>
									<td class="w3-xlarge w3-right-align" style="width: 80px;">
										<a v-bind:href="product.link" target="_blank" class="noline" :title="product.name + ': ' + $options.filters.formatPrice(product.price)">
											{{ !product.link && product.price ? "~" : "" }}{{ product.price | formatPrice }}
										</a>
									</td>
								</tr>
							</table>

						</li>
					</ul>
					
					<p class="w3-center">
						<button class="w3-btn w3-ripple w3-amber" @click="share" title="Deel je boodschappenlijst"><i class="fa fa-share-alt"></i> Deel je boodschappenlijst</button>
					</p>

				</div>
			</div>

			<div class="w3-light-gray">
				<div class="w3-container w3-content w3-padding-64" style="max-width: 800px">
					<h2 class="w3-wide w3-center caps">Over Checkjebon.nl</h2>
					<p class="w3-opacity w3-center">Prijzen in supermarkten veranderen regelmatig, Checkjebon.nl werkt ze <abbr :title="'Laatst bijgewerkt op ' + pricesLastUpdated">dagelijks</abbr> bij en vertelt je waar je het goedkoopst uit bent voor je boodschappen. Verder is Checkjebon.nl een <a href="https://www.github.com/supermarkt/checkjebon/" target="_blank">open source project</a> en ook de gebruikte <a href="https://github.com/supermarkt/checkjebon/blob/main/data/supermarkets.json" target="_blank">supermarktdata</a> is gratis te hergebruiken in andere projecten. Neem <a href="mailto:info@checkjebon.nl">contact op</a> voor vragen of suggesties.</p>
				</div>
			</div>
		</div>
		<script src="/js/site/script.js"></script>
	</body>
</html>