body
{
	font-family: "Lato", sans-serif;
}

.caps
{
	text-transform: uppercase;
}

.smallcaps
{
	font-variant-caps: all-small-caps;
}

.strike
{
	text-decoration: line-through;
}

.noline
{
	text-decoration: none;
}

footer {
	width: 100%;
}

footer > div {
	box-sizing: border-box;
}

body {
	padding-bottom: 3.5rem; /* space for footer height if needed */
}