body
{
	font-family: "Lato", sans-serif;
}

.caps
{
	text-transform: uppercase;
}

.smallcaps
{
	font-variant-caps: all-small-caps;
}

.strike
{
	text-decoration: line-through;
}

.noline
{
	text-decoration: none;
}